* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
}

.drum {
  height: 80%;
  width: 80%;
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drum__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid #000;
  height: 100%;
}
.drum__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20%;
  width: 100%;
}
.drum__box-title {
  padding: 2rem;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
}
.drum__box-description {
  padding: 2rem;
  font-size: 2.2rem;
}
.drum__image {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/images/drums_1920.jpg");
  background-size: cover;
  background-position: center;
  border-top: 1px solid #000;
}
.drum__image-btn {
  position: absolute;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.drum__instruction {
  width: 20%;
  height: 100%;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ddd;
  border: 1px solid #000;
  border-left: none;
}
.drum__instruction-title {
  text-align: center;
  padding: 3rem 0;
}
.drum__item {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 2px solid #000;
  font-weight: bold;
  font-size: 1.8rem;
  order: -1;
}

.crash {
  left: 20%;
  top: 18%;
}

.ride {
  right: 25%;
  top: 18%;
}

.hihat-closed {
  right: 13%;
  top: 40%;
}

.hihat-opened {
  right: 23%;
  top: 40%;
}

.mid-tom {
  right: 37%;
  top: 33%;
}

.high-tom {
  left: 39%;
  top: 33%;
}

.floor-tom {
  left: 30%;
  bottom: 40%;
}

.snare {
  right: 30%;
  bottom: 45%;
}

.kick {
  left: 50%;
  bottom: 20%;
}

.activeButton {
  background-color: #333;
  outline: none;
  color: #f0f0f0;
}

@media (min-width: 300px) and (max-width: 400px) {
  body {
    height: 90rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .drum {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 97%;
    margin: 1.5% 0;
  }
  .drum__container {
    width: 100%;
  }
  .drum__box {
    height: 20rem;
  }
  .drum__box-title {
    font-size: 3rem;
  }
  .drum__box-description {
    font-size: 1.8rem;
  }
  .drum__image {
    height: 40rem;
    width: 100%;
    background-image: url("/images/drums_640.jpg");
  }
  .drum__instruction {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
    height: 25rem;
    border: 1px solid #000;
    border-top: none;
  }
  .drum__instruction-title {
    display: none;
  }
  .drum__item {
    padding: 0.5rem 0;
  }
  .btn {
    font-size: 1.4rem;
  }
  .crash {
    left: 10%;
    top: 18%;
  }
  .ride {
    right: 10%;
    top: 18%;
  }
  .hihat-closed {
    right: 10%;
    top: 37%;
  }
  .hihat-opened {
    right: -3%;
    top: 36%;
  }
  .mid-tom {
    right: 30%;
    top: 35%;
  }
  .high-tom {
    left: 31%;
    top: 33%;
  }
  .floor-tom {
    left: 23%;
    bottom: 40%;
  }
  .snare {
    right: 23%;
    bottom: 45%;
  }
  .kick {
    left: 50%;
    bottom: 20%;
  }
}
@media (min-width: 401px) and (max-width: 576px) {
  body {
    height: 90rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .drum {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 97%;
    margin: 1.5% 0;
  }
  .drum__container {
    width: 100%;
  }
  .drum__box {
    height: 20rem;
  }
  .drum__box-title {
    font-size: 3rem;
  }
  .drum__box-description {
    font-size: 1.8rem;
  }
  .drum__image {
    height: 40rem;
    width: 100%;
    background-image: url("/images/drums_640.jpg");
  }
  .drum__instruction {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
    height: 25rem;
    border: 1px solid #000;
    border-top: none;
  }
  .drum__instruction-title {
    display: none;
  }
  .drum__item {
    padding: 0.5rem 0;
  }
  .btn {
    font-size: 1.4rem;
  }
  .crash {
    left: 15%;
    top: 18%;
  }
  .ride {
    right: 16%;
    top: 18%;
  }
  .hihat-closed {
    right: 15%;
    top: 37%;
  }
  .hihat-opened {
    right: 5%;
    top: 45%;
  }
  .mid-tom {
    right: 30%;
    top: 35%;
  }
  .high-tom {
    left: 31%;
    top: 33%;
  }
  .floor-tom {
    left: 23%;
    bottom: 40%;
  }
  .snare {
    right: 23%;
    bottom: 45%;
  }
  .kick {
    left: 50%;
    bottom: 20%;
  }
}/*# sourceMappingURL=bigsize.css.map */