* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.drum {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 97%;
  height: 96%;
  margin: 2% 0;
}
.drum__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid #000;
  height: 100%;
  width: 100%;
}
.drum__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20rem;
  width: 100%;
}
.drum__box-title {
  padding: 2rem;
  margin-top: 1rem;
  font-size: 3.2rem;
  font-family: "Dancing Script", cursive;
}
.drum__box-description {
  padding: 2rem;
  font-size: 1.8rem;
}
.drum__image {
  position: relative;
  height: 40rem;
  width: 100%;
  background-image: url("/images/drums_640.jpg");
  background-size: cover;
  background-position: center;
  border-top: 1px solid #000;
}
.drum__image-btn {
  position: absolute;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.drum__instruction {
  padding: 3rem 1.5rem;
  flex-direction: column;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
  width: 100%;
  height: 30rem;
  border: 1px solid #000;
  border-top: none;
}
.drum__instruction-title {
  display: none;
  text-align: center;
  padding: 3rem 0;
}
.drum__item {
  display: flex;
  align-items: center;
  width: 49%;
  margin-left: 1rem;
  padding: 1rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 2px solid #000;
  font-weight: bold;
  font-size: 1.4rem;
  order: -1;
}

.crash {
  left: 10%;
  top: 18%;
}

.ride {
  right: 10%;
  top: 18%;
}

.hihat-closed {
  right: 10%;
  top: 37%;
}

.hihat-opened {
  right: -3%;
  top: 36%;
}

.mid-tom {
  right: 30%;
  top: 35%;
}

.high-tom {
  left: 31%;
  top: 33%;
}

.floor-tom {
  left: 23%;
  bottom: 40%;
}

.snare {
  right: 23%;
  bottom: 45%;
}

.kick {
  left: 50%;
  bottom: 20%;
}

.activeButton {
  background-color: #333;
  outline: none;
  color: #f0f0f0;
}

@media (min-width: 450px) and (max-width: 575px) {
  .crash {
    left: 15%;
    top: 18%;
  }
  .ride {
    right: 16%;
    top: 18%;
  }
  .hihat-closed {
    right: 20%;
    top: 37%;
  }
  .hihat-opened {
    right: 7%;
    top: 45%;
  }
  .mid-tom {
    right: 30%;
    top: 35%;
  }
  .high-tom {
    left: 31%;
    top: 33%;
  }
  .floor-tom {
    left: 23%;
    bottom: 40%;
  }
  .snare {
    right: 27%;
    bottom: 45%;
  }
  .kick {
    left: 50%;
    bottom: 20%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .crash {
    left: 20%;
    top: 18%;
  }
  .ride {
    right: 21%;
    top: 15%;
  }
  .hihat-closed {
    right: 22%;
    top: 34%;
  }
  .hihat-opened {
    right: 11%;
    top: 42%;
  }
  .mid-tom {
    right: 40%;
    top: 35%;
  }
  .high-tom {
    left: 40%;
    top: 33%;
  }
  .floor-tom {
    left: 30%;
    bottom: 40%;
  }
  .snare {
    right: 30%;
    bottom: 45%;
  }
  .kick {
    left: 50%;
    bottom: 20%;
  }
}
@media (min-width: 768px) {
  body {
    align-items: center;
    height: 100vh;
  }
  .drum {
    height: 80%;
    width: 98%;
    max-width: 120rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .drum__container {
    width: 80%;
  }
  .drum__box-title {
    padding: 2rem;
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
  }
  .drum__box-description {
    padding: 2rem;
    font-size: 2.2rem;
  }
  .drum__image {
    height: 100%;
  }
  .drum__image-btn {
    position: absolute;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  .drum__instruction {
    width: 20%;
    height: 100%;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ddd;
    border: 1px solid #000;
    border-left: none;
  }
  .drum__instruction-title {
    display: block;
    text-align: center;
    padding: 3rem 0;
    font-size: 2.2rem;
  }
  .drum__item {
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 1.6rem;
    width: 100%;
  }
  .crash {
    left: 20%;
    top: 18%;
  }
  .ride {
    right: 25%;
    top: 18%;
  }
  .hihat-closed {
    right: 13%;
    top: 40%;
  }
  .hihat-opened {
    right: 1%;
    top: 45%;
  }
  .mid-tom {
    right: 37%;
    top: 33%;
  }
  .high-tom {
    left: 39%;
    top: 33%;
  }
  .floor-tom {
    left: 24%;
    bottom: 40%;
  }
  .snare {
    right: 25%;
    bottom: 45%;
  }
  .kick {
    left: 50%;
    bottom: 20%;
  }
}
@media (min-width: 992px) {
  .crash {
    left: 20%;
    top: 18%;
  }
  .ride {
    right: 25%;
    top: 18%;
  }
  .hihat-closed {
    right: 27%;
    top: 40%;
  }
  .hihat-opened {
    right: 14%;
    top: 45%;
  }
  .mid-tom {
    right: 37%;
    top: 33%;
  }
  .high-tom {
    left: 39%;
    top: 33%;
  }
  .floor-tom {
    left: 32%;
    bottom: 40%;
  }
  .snare {
    right: 31%;
    bottom: 45%;
  }
  .kick {
    left: 50%;
    bottom: 20%;
  }
}/*# sourceMappingURL=main.css.map */