* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.drum {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 97%;
  height: 96%;
  margin: 2% 0;
}
.drum__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid #000;
}
.drum__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
  text-align: center;
}
.drum__box-title {
  margin-top: 1rem;
  padding: 2rem;
  font-size: 3.2rem;
  font-family: "Dancing Script", cursive;
}
.drum__box-description {
  padding: 2rem;
  font-size: 1.8rem;
}
.drum__image {
  position: relative;
  height: 40rem;
  width: 100%;
  background-image: url("../images/drums_640.jpg");
  background-size: cover;
  background-position: center;
  border-top: 1px solid #000;
}
.drum__image-btn {
  position: absolute;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.drum__instruction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 30rem;
  width: 100%;
  padding: 1rem;
  background-color: #ddd;
  border: 1px solid #000;
  border-top: none;
}
.drum__instruction-title {
  display: none;
  padding: 3rem 0;
  text-align: center;
}
.drum__item {
  display: flex;
  align-items: center;
  width: 49%;
  margin-left: 1rem;
  padding: 1rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 2px solid #000;
  font-weight: bold;
  font-size: 1rem;
  order: -1;
}

.crash {
  left: 10%;
  top: 18%;
}

.ride {
  right: 10%;
  top: 18%;
}

.hihat-closed {
  right: 11%;
  top: 38%;
}

.hihat-opened {
  right: -3%;
  top: 45%;
}

.mid-tom {
  right: 30%;
  top: 35%;
}

.high-tom {
  left: 31%;
  top: 33%;
}

.floor-tom {
  left: 23%;
  bottom: 40%;
}

.snare {
  right: 23%;
  bottom: 45%;
}

.kick {
  left: 50%;
  bottom: 20%;
}

.activeButton {
  background-color: #333;
  outline: none;
  color: #f0f0f0;
}

@media (max-width: 360px) {
  .drum {
    height: 80rem;
    width: 100%;
    margin: 0;
  }
  .drum__box {
    height: 20rem;
  }
  .drum__box-title {
    padding: 1rem;
    font-size: 2.5rem;
  }
  .drum__box-description {
    padding: 0.5rem;
    font-size: 1.4rem;
  }
  .drum__image {
    height: 30rem;
  }
  .drum__image-btn {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
  .hihat-closed {
    right: 8%;
  }
  .hihat-opened {
    right: -2%;
    top: 47%;
  }
  .snare {
    right: 20%;
  }
}
@media (min-width: 450px) {
  .crash {
    left: 15%;
  }
  .ride {
    right: 16%;
  }
  .hihat-closed {
    right: 20%;
  }
  .hihat-opened {
    right: 7%;
  }
  .snare {
    right: 27%;
  }
}
@media (min-width: 576px) {
  .drum__image-btn {
    font-size: 1.4rem;
  }
  .crash {
    left: 20%;
  }
  .ride {
    right: 21%;
    top: 15%;
  }
  .hihat-closed {
    right: 22%;
    top: 34%;
  }
  .hihat-opened {
    right: 11%;
    top: 42%;
  }
  .mid-tom {
    right: 40%;
  }
  .high-tom {
    left: 40%;
  }
  .floor-tom {
    left: 30%;
  }
  .snare {
    right: 30%;
  }
}
@media (min-width: 768px) {
  body {
    height: 100vh;
    align-items: center;
  }
  .drum {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80rem;
    width: 98%;
    max-width: 120rem;
    margin: 0;
  }
  .drum__container {
    width: 75%;
  }
  .drum__box {
    height: 25rem;
  }
  .drum__box-title {
    font-size: 4rem;
  }
  .drum__box-description {
    font-size: 2.2rem;
  }
  .drum__image {
    height: 55rem;
  }
  .drum__instruction {
    height: 100%;
    width: 25%;
    padding: 3rem 1.5rem;
    border-top: 1px solid #000;
    border-left: none;
  }
  .drum__instruction-title {
    display: block;
    font-size: 2.2rem;
  }
  .drum__item {
    width: 100%;
    margin-left: 0;
    font-size: 1.6rem;
  }
  .crash {
    left: 20%;
  }
  .ride {
    right: 25%;
  }
  .hihat-closed {
    right: 18%;
    top: 40%;
  }
  .hihat-opened {
    right: 1%;
    top: 45%;
  }
  .mid-tom {
    right: 37%;
    top: 33%;
  }
  .high-tom {
    left: 39%;
  }
  .floor-tom {
    left: 24%;
  }
  .snare {
    right: 25%;
  }
}
@media (min-width: 850px) {
  .hihat-closed {
    right: 22%;
    top: 40%;
  }
  .hihat-opened {
    right: 10%;
    top: 45%;
  }
}
@media (min-width: 992px) {
  .hihat-closed {
    right: 27%;
    top: 40%;
  }
  .hihat-opened {
    right: 14%;
    top: 45%;
  }
  .floor-tom {
    left: 32%;
  }
  .snare {
    right: 31%;
  }
}/*# sourceMappingURL=main.css.map */